<section>
<header class="row">
    <section class="content">
        <section class="col-md-3 header-left">
            <p>
                <i class="iconfont icon-phone"></i>
                <span class="header-title">Hotline</span>
            </p>
            <p class="header-phone">0914.733.333</p>  
        </section>
        <section class="col-md-6 header-center">
            <p>
                <i class="iconfont icon-gift"></i>
                <span class="header-title">CHUYÊN PHÂN PHỐI SẢN PHẨM HÃNG AKUS VÀ ATM CHÍNH HÃNG</span>
            </p>
            <p>
                Chiết khấu %, hoa hồng cao 
            </p>
        </section>
        <section class="col-md-3 header-right">
            <p>
                <i class="iconfont icon-icon"></i>
                <span class="header-title" style="font-size: 15px;">Đơn vị phân phối độc quyền của</span>
            </p>
            <p>
                <img src="../../assets/image/phanphoi.png" alt="">
            </p>
        </section>
    </section>
</header>
<nav>
    <section class="content">
        <section>
            <img src="../../assets/image/top-logo.png" alt="" (click)="onIndex()">
        </section>
        <section class="navbar">
            <li *ngFor="let item of navLists let i =index" [ngClass]="{'active': selected == i}" (click)="checkStatus(i, item.url)">
                <i class="iconfont {{item.icon}}"></i>
                <span>{{item.name}}</span>
            </li>
        </section>
    </section>
</nav>

<section class="row header-content">
    <section class="content">
        <section class="col-md-3 header-content-left"
                (mouseenter)="navtoggle(true);"
                (mouseleave)="navtoggle(false);">
            <section class="list-header" >
                Danh mục sản phẩm
                <i class="glyphicon glyphicon-align-justify"></i>
            </section>
            <!--[ngClass]="navToggle?'':'hidden'"-->
            <section class="list-body" [hidden]="!navToggle" [ngClass]="isToggle?'list-body-Collapse':''">
                <li *ngFor="let item of treeLists let i = index" 
                    (mouseenter)="navExpand(i);"
                    (mouseleave)="navCollapse();"
                    (click)="onSelect(item.text)">
                    <p>
                        <span class="tree-text">{{item.text}}</span>
                        <span class="tree-descr">{{item.descr}}</span>
                    </p>
                    <i class="glyphicon glyphicon-menu-right"></i>
                    <section class="list-child" *ngIf="item['items'] && enterNumber == item.id">
                        <section class="list-header list-child-header">
                            {{item.text}}
                        </section>
                        <section class="list-body">
                            <li *ngFor="let childItem of item['items'] let i = index">
                                <p>
                                    <span class="tree-text">{{childItem.text}}</span>
                                    <span class="tree-descr">{{childItem.descr}}</span>
                                </p>
                            </li>
                        </section>
                    </section>
                </li>
            </section>
        </section>
        <section class="col-md-9 header-content-right">
            <section class="input-group search">
                <input type="text" class="form-control" placeholder="Nhập từ khóa tìm kiếm" aria-describedby="basic-addon1">
                <span class="input-group-addon" id="basic-addon1">
                    <i class="glyphicon glyphicon-search"></i>
                    Tìm kiếm
                </span>
            </section>
            <carousel [interval]="myInterval" 
                    [noWrap]="noWrapSlides" 
                    [(activeSlide)]="activeSlideIndex"
                    [hidden]="!carouselToggle">
                <slide *ngFor="let slidez of slides;">
                    <img [src]="slidez" style="width: 100%; height:300px">
                </slide>
            </carousel>
        </section>
    </section>
</section>
</section>