<section>
<section class="row three-block">
    <section class="content">
        <section class="row block-sec">
            <section class="col-md-4">
                <section class="box">
                    <i class="iconfont icon-dianzan"></i>
                    <p>ÚY TÍN HÀNG ĐẦU</p>
                    <span>Cam kết chất lượng 100%</span>
                </section>
            </section>
            <section class="col-md-4">
                <section class="box">
                    <i class="iconfont icon-feiji"></i>
                    <p>VẬN CHUYỂN SIÊU TỐC</p>
                    <span>Giao trong ngày với hầu hết các mặt hàng</span>
                </section>
            </section>
            <section class="col-md-4">
                <section class="box">
                    <i class="iconfont icon-mi"></i>
                    <p>SẢN PHẨM CHÍNH HÃNG</p>
                    <span>Đơn vị phân phối độc quyền của xiaomi & Titan</span>
                </section>
            </section>
        </section>
    </section>
</section>
<section class="row mail">
    <section class="content">
        <section class="row">
            <section class="col-md-4 e-mail">
                <section class="icon">
                    <i class="glyphicon glyphicon-envelope"></i>
                </section>
                <section>
                    <span>
                        Đăng kí nhận báo giá
                        <br>
                        ừ PHỤ KIỆN IS LIM
                    </span>
                </section>
            </section>
            <section class="col-md-4">
                <section>
                    <span>
                        Cập nhật thông tin khuyến mãi nhanh nhất
                        <br>
                        Hưởng quyền lợi giảm giá riêng biệt
                    </span>
                </section>
            </section>
            <section class="col-md-4">
                <section class="input-group">
                    <input type="text" class="form-control" placeholder="Nhập địa chỉ email của bạn" aria-describedby="basic-addon2">
                    <span class="input-group-addon" id="basic-addon2"> Gửi</span>
                </section>
            </section>
        </section>
    </section>
</section>
<footer>
    <section class="content">
        <section class="logo">
            <img src="../../assets/image/top-logo.png" alt="FooterLogo">
        </section>
        <section class="row col-md-12 web-footer">
            <section class="col-md-5 link">
                <p class="box-title">
                    GIỚI THIỆU PHỤ KIỆN IS LIM
                </p>
                <ul>
                    <li *ngFor="let item of linkLists">
                        <a routerLink="/contact{{item.href}}">{{item.title}}</a>
                    </li>
                </ul>
            </section>
            <section class="col-md-4">
                <p class="box-title">
                    HỖ TRỢ KHÁCH HÀNG
                </p>
                <section>
                    <li class="phone" *ngFor="let item of numberLists">
                        <i class="glyphicon glyphicon-phone-alt"></i>&nbsp;&nbsp;
                        {{item.name}}：
                        <span *ngFor="let number of item.number">
                            {{number}}
                        </span>
                    </li>
                    <span class="time">
                        <i class="glyphicon glyphicon-time"></i>&nbsp;&nbsp;
                        Từ 9h00 - 18h30, Thứ 2 - Chủ nhật
                    </span>
                </section>
            </section>
            <section class="col-md-3">
                <p class="box-title">
                    ĐỊA CHỈ
                </p>
                <i class="iconfont icon-dingwei"></i>
                <span>
                    {{address}}
                </span>
            </section>
        </section>
    </section>
</footer>
<section class="info">
    <p>粤ICP备17086734号-1</p>
    <p><em>©</em>2017年著作权 Phukienthanh 所有权保留 如果转载 保留出处</p>
</section>
</section>