<section class="panel panel-default guide">
  <section class="content">
    <section class="panel-heading">
      <h3 class="panel-title">HƯỚNG DẪN MUA HÀNG</h3>
    </section>
    <section class="panel-body">
      <p style="text-align:center"><span style="font-size:20px"><span style="color:rgb(255, 0, 0)"><strong><strong>CHỈ CẦN BẠN GỌI, CHÚNG TÔI SẴN SÀNG GIAO HÀNG TẬN NƠI</strong></strong></span></span></p>

      <p style="text-align:center"><span style="font-size:medium;"><em><strong>Phục vụ tận nơi cho dù chỉ 1 đơn hàng</strong></em></span></p>

      <p style="text-align:center">&nbsp;</p>

      <p><strong>&nbsp; &nbsp; &nbsp;Tùy từng sản phẩm, có thể còn hàng&nbsp;<strong>(đúng màu sắc)&nbsp;</strong>hoặc hết hàng nên quý khách vui lòng nhắn tin (hoặc gọi điện) để kiểm tra chắc chắn sản phẩm mình mua còn hàng trước khi giao dịch chuyển khoản</strong></p>

      <p><span style="color:rgb(255, 0, 0)"><strong>Hotline&nbsp;:</strong><strong>&nbsp;09648.33333, 0961.760.888,&nbsp;0988.235.835</strong></span></p>

      <p><span style="font-size:large"><strong><strong>Phụ Kiện&nbsp;Việt Trung&nbsp;sẽ chuyển hàng cho bạn ngay lập tức bất kể bạn ở đâu</strong></strong></span></p>

      <p><strong>- Lưu ý: Phụ Kiện&nbsp; Việt Trung&nbsp;nhận ship hàng khi bạn chắc chắn mua (không nhận ship để thử, xem hàng)&nbsp;</strong></p>

      <p style="text-align:center"><span style="font-size:20px"><span style="color:rgb(255, 0, 0)"><strong>Đối với khách hàng mua lẻ</strong></span></span></p>

      <p><span style="color:rgb(0, 0, 255); font-size:medium"><strong><em>1. Khách nội thành Hà Nội:&nbsp;</em></strong></span></p>

      <p><strong>- &nbsp;Khách hàng chọn mẫu ưng ý,&nbsp; nhắn tin / gọi điện trực tiếp 0961.760.888 - 0988.235.835 để hẹn lịch giao nhận hàng phù hợp với bạn</strong></p>

      <p><strong>- Freeship bán kính 5km&nbsp;(áp dụng với đơn hàng trên 500.000vnđ)</strong></p>

      <p><strong>- Phí ship từ 20.000vnđ - 30.000vnđ tuỳ khu vực xa gần</strong></p>

      <p>&nbsp;</p>

      <p><span style="color:rgb(0, 0, 255); font-size:medium"><em><strong>2. Khách ngoại thành Hà Nội &amp; các tỉnh khác:</strong></em></span></p>

      <p>&nbsp;</p>

      <p><strong>- Thanh toán qua hình thức Chuyển khoản trước:</strong></p>

      <p><strong>Chuyển khoản 100% &nbsp;số tiền tổng sản phẩm vào tài khoản ngân hàng&nbsp;</strong></p>

      <p style="text-align:center"><br>
      <em><strong>Chủ tài khoản :&nbsp;</strong></em><strong>NGUYỄN ANH VIỆT</strong></p>

      <p style="text-align:center"><strong>Ngân hàng ngoại thương Việt Nam ( VIETCOMBANK)</strong></p>

      <p style="text-align:center"><em><strong>Số tài khoản ngân hàng: 0011004102004</strong></em></p>

      <p style="text-align:center"><em><strong>Hội sở Hà Nội</strong></em></p>

      <p style="text-align:center">&nbsp;</p>

      <p style="text-align:center"><em><strong>Ngân hàng NN &amp; PT&nbsp;Nông Thôn Việt Nam&nbsp;( AGIBANK)</strong></em></p>

      <p style="text-align:center"><em><strong>Số tài khoản : 1505205133670</strong></em></p>

      <p style="text-align:center"><em><strong>Chi nhánh Thanh Xuân</strong></em></p>

      <p style="text-align:center">&nbsp;</p>

      <p style="text-align:center"><em><strong>Ngân hàng Đầu tư và phát triển Việt Nam ( BIDV )</strong></em></p>

      <p style="text-align:center"><em><strong>Số tài khoản : 12810000046004</strong></em></p>

      <p style="text-align:center"><em><strong>Chi nhánh Chương Dương</strong></em></p>

      <p style="text-align:center">&nbsp;</p>

      <p style="text-align:center"><em><strong>Ngân Hàng Công Thương Việt Nam( VIETTINBANK)</strong></em></p>

      <p style="text-align:center"><em><strong>Số tài Khoản: 711A-10411386</strong></em></p>

      <p style="text-align:center"><em><strong>PGD Lê Trọng Tấn - TP Hà Nội</strong></em></p>

      <p style="text-align:center">&nbsp;</p>

      <p style="text-align:center"><em><strong>Ngân Hàng TM&nbsp;CP&nbsp;Kỹ Thương Việt Nam&nbsp;(TECHCOMBANK)</strong></em></p>

      <p style="text-align:center"><em><strong>Số tài Khoản: 19030667998686</strong></em></p>

      <p style="text-align:center"><em><strong>Chi nhánh Định Công</strong></em></p>

      <p style="text-align:center">&nbsp;</p>

      <p style="text-align:center"><em><strong>Ngân hàng Sài Gòn Thương Tín (SACCOMBANK)</strong></em></p>

      <p style="text-align:center"><em><strong>Số tài khoản: 020045059473</strong></em></p>

      <p style="text-align:center"><em><strong>Chi Nhánh Đống Đa- PGD Khương Mai - TP Hà Nội.</strong></em></p>

      <p style="text-align:center">&nbsp;</p>

      <p style="text-align:center">&nbsp;</p>

      <div style="text-align:center">&nbsp;</div>

      <p><strong>&nbsp;Sau khi chuyển khoản, quý khách vui lòng nhắn tin vào số 09648.33333 -&nbsp;0961.760.888 - 0988.235.835&nbsp; báo địa chỉ nhận hàng &amp; tên sản phẩm để tránh nhầm lẫn.</strong></p>

      <p><strong>Khi nhận chuyển khoản,</strong><strong><strong>Việt Trung&nbsp;sẽ gửi hàng cho bạn ngay lập tức bất kể bạn ở đâu</strong></strong></p>

      <p><span style="font-size:medium"><strong>- Phí ship quý khách sẽ thanh toán trực tiếp khi nhận được hàng</strong></span></p>

      <p>&nbsp;</p>

      <p style="text-align:center"><span style="font-size:20px"><span style="color:rgb(255, 0, 0)"><strong><strong>Đối với&nbsp;khách mua buôn, đại lý:</strong></strong></span></span></p>

      <p><strong>- Quý khách hàng nhận báo giá bán buôn mới nhất của Việt Trung&nbsp;(được update liên tục khi có hàng mới về)</strong></p>

      <p><strong>Đăng ký nhận báo giá tại website http://phukienviettrung.vn</strong></p>

      <p><strong>(click vào Mua hàng. Điền đầy đủ thông tin gồm họ tên,email, số điện thoại..) Việt Trung&nbsp;sẽ gửi báo giá bán buôn ngay khi nhận được yêu cầu</strong></p>

      <p><strong>Hoặc nhắn tin Địa chỉ Email của bạn vào số hotline 0961.760.888 - 0988.235.835</strong></p>

      <p><span style="color:rgb(0, 0, 255); font-size:medium"><em><strong>- Cách thức mua hàng:</strong></em></span></p>

      <p><span style="font-size:14px"><span style="font-family:times new roman,times,serif"><strong>&nbsp;</strong></span><strong>+ Lấy sỉ đến trực tiếp tại công ty 73A Cù Chính Lan - Thanh Xuân - HN&nbsp;, hoặc có thể lên đơn hàng mua sỉ, gửi vào email phukienviettrung68@gmail.com (Có thể gọi điện trực tiếp đặt hàng nếu không có email)</strong></span></p>

      <p><span style="font-size:14px"><strong>+ Việt Trung&nbsp;sẽ lên đơn hàng ngay khi nhận được &amp; báo giá tổng đơn hàng cho bạn.</strong></span></p>

      <p><span style="font-size:14px"><strong>+ Sau khi nhận được chuyển khoản 100% đơn hàng, Việt Trung sẽ gửi hàng cho bạn ngay lập tức bất kể bạn ở đâu</strong></span></p>
    </section>
  </section>
</section>