.news{
    .content{
        width: 82%;
        margin: 0 auto;
        display: block;
        .item{
            height: 220px;
            padding: 10px 28px;
            display: flex;
            .img-href{
                height: 100%;
                width: 28%;
                img{
                    height: 100%;
                    width: 100%;
                }
            }
            .text{
                width: 72%;
                background-color: #fff;
                padding: 15px;
                a{
                    color: #83e329;
                    cursor: pointer;
                    margin-bottom: 15px;
                    display: block;
                }
                span{
                    font-style: italic;
                }
            }
        }
    }
}